html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

h1 {
    margin: 0;
}

th, td {
    outline: solid 1px black;
}
